{
  "presets": ["es2015", "stage-0", "stage-3"],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-async-to-generator",
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-regenerator"
]}
